body{
font-family: Arial, Helvetica, sans-serif;

}

.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 16px;
    align-items: center;
}

.formulario-campo label{
    font-weight: 400;
}

.formulario-campo input, 
.formulario-campo select,
.formulario-campo textarea {

    width: 300px;
    justify-self: flex-end;
}

.navbar{
   color: rgba(255, 255, 255, 0.975);
   background-color: rgba(0, 0, 0, 0.258);
}

h1{text-align: center;}