*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ec75ab, #e4408a, #970747);
}

#form{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #fdfcfc;
border-radius: 10px;
padding: 60px;
width: min-content;
align-items: center;
color: #2b344b;
animation: iniciar 1.6s ease-out;
pointer-events: all;
}

.title{
    font-size: 1.8em;
    margin-bottom: 10%;
    color: #2b344b;
}

.input{
    min-width: 200px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;

}

input i{
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient( -45deg, #ec75ab, #e4408a, #970747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-10%);
    color: #2b344b;
    font-size: 11pt;
}

#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ec75ab, #e4408a, #970747);
width: 100%;
height: 40px;
border: none;
font-size: 1.2em;
color: #fff;
border-radius: 20px;
outline: none;
cursor: pointer;    
}

#btn button:hover{
        background: linear-gradient(-45deg, #c74d84, #aa2460, #5f032c);

}

@keyframes iniciar{
    0%{
        opacity: 0;
        pointer-events: none;
        top: -20%;
    }
    100%{
top: 50%;
opacity: 100%;
pointer-events: all;
    }
}
