body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}


.container {
    text-align: center;
    margin-top: 50px;
}

a.botao {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

a.botao:hover {
    background: #3576b8;
}
