*{
    align-items: center;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   
}


.container {
    display: flex;
    align-items: center; 
    gap: 20px;     
    background-color: #8b91a1;
    padding: 50px;
    margin: 80px;     
    height: 40vh;
}

.container img {
    width: 200px; 
    margin: 50px;
  
}

    

img{
    width: 15%;

}

h2{text-align: center;
    background-color:#e4408a ;
-webkit-linear-gradient: (-45deg, #2b344b, #5e6881, #8b91a1);
-webkit-background-clip: text;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #4B79A1, #ffffff);
    color: white;
    position: sticky;
    top: 0;
    text-decoration: none;
}

.navbar .logo {
    font-size: 1.6em;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: 0.3s;
}

.menu li a:hover {
    color: #ffd369;
}


.mobile-btn {
    display: none;
    font-size: 2em;
    cursor: pointer;
      text-decoration: none;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 30px;
        flex-direction: column;
        background: #283E51;
        padding: 15px 25px;
        border-radius: 8px;
          text-decoration: none;
    }

    .menu.show {
        display: flex;
          text-decoration: none;
    }

    .mobile-btn {
        display: block;
          text-decoration: none;
    }
}

.menu li a {
    color: #ffd369;       
    text-decoration: none; 
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1em;    
    padding: 8px 15px;    
    display: inline-block;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: #fff;         
    background: rgba(255,255,255,0.15);
    border-radius: 6px;  
      text-decoration: none;
}

.menu {
    display: flex;
    gap: 25px;    
    text-decoration: none;
}

