
/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 10px 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
}

/* Menuj */
.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* Conteúdo */
.conteudo,
.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h2,
.container h1 {
    margin-top: 20px;
    color: #222;
}

p {
    margin: 10px 0;
}

/* Lista */
ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}

/* Rodapé */
footer {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    font-size: 0.9rem;
    color: #555;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

mark{
    background-color: #222;
    color: #f9f9f9;
}
