body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{text-align: center;}
h5{text-align: center;}

.navbar{
    text-align: center;
   color: rgba(255, 255, 255, 0.975);
   background-color: rgba(0, 0, 0, 0.258);
}

img{
    display: flex;
}

.a{
    border-radius: 80px;
    background-color: azure;
}