body{
font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img{
    width: 40%;
}
.navbar{
   color: rgba(255, 255, 255, 0.975);
   background-color: rgba(0, 0, 0, 0.258);
}

